__pycache__/
env*/
*.egg-info/
.gitignore
.dockerignore
README.md
Dockerfile

# Avoid copying htlm and npy files
**/*.html

# Avoid copying images and pdfs
**/*.png
**/*.jpg
**/*.pdf

# Avoid pushing experiments output
experiments/car_on_hill/figures
**/*.out

# Save optimal value functions of car on hill
!experiments/car_on_hill/figures/data/optimal/Q.npy
!experiments/car_on_hill/figures/data/optimal/V.npy
