__pycache__/
env*/
*.egg-info/
.gitignore
.dockerignore
README.md
Dockerfile

# Avoid copying htlm and npy files
**/*.html

# Avoid copying images and pdfs
**/*.png
**/*.jpg
**/*.pdf

# Avoid pushing experiments output
experiments/lqr/figures
experiments/chain_walk/figures
experiments/car_on_hill/figures
experiments/bicycle_offline/figures
experiments/bicycle_online/figures
experiments/acrobot/figures
experiments/lunar_lander/figures
**/*.out

# Save optimal value functions of car on hill
!experiments/chain_walk/figures/data/optimal/Q.npy
!experiments/chain_walk/figures/data/optimal/V.npy
!experiments/lqr/figures/data/optimal/W.npy
!experiments/lqr/figures/data/optimal/V.npy
!experiments/car_on_hill/figures/data/optimal/Q.npy
!experiments/car_on_hill/figures/data/optimal/V.npy
